{% extends '::Backend/base.html.twig' %}

{% block body -%}
<main class="main-content p-5" role="main">
        <div class="row">
            <div class="col-md-12">
                <h1>Análise - {{ entity.driver.firstName }}</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" action="{{ path('backend_document_driver_update',{'id': entity.id}) }}" method="post">
                                    <input type="hidden" name="_method" value="PUT" />

                                    {% include 'AppBundle:Backend/DocumentDriver:form.html.twig' %}
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-4">
                                            {% if entity.status == 1 %}
                                                <button type="submit" class="btn btn-secondary waves-effect waves-light">
                                                    Reprovar
                                                </button>
                                            {% else %}
                                                <button type="submit" class="btn btn-secondary waves-effect waves-light">
                                                    Aprovar
                                                </button>
                                            {% endif %}
                                            {% if entity.pendingdescription %}
                                                <a class="btn btn-light waves-effect waves-light" onclick="show({{ entity.id }});">
                                                    Reenviar considerações e não aprovar
                                                </a>
                                            {% else %}
                                                 {% if entity.status == 1 %}
                                                    <a class="btn btn-light waves-effect waves-light" onclick="show({{ entity.id }});">
                                                        Enviar considerações e reprovar
                                                    </a>
                                                {% else %}
                                                    <a class="btn btn-light waves-effect waves-light" onclick="show({{ entity.id }});">
                                                        Enviar considerações e não aprovar
                                                    </a>
                                                {% endif %}    
                                            {% endif %}
                                            <a class="btn btn-light waves-effect waves-light" href="{{ path('backend_document_driver') }}">
                                                Cancelar
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2'
        '@AppBundle/Resources/public/js/app/ajaxlocation.js'
        '@AppBundle/Resources/public/js/custom/DocumentDriver/modal.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}